PORT=5000
NODE_ENV=development
RPC_URL=http://127.0.0.1:8545
CONTRACT_ADDRESS=0x8d1aD974F97AE8671E8F345f254a5CFD22CE21BF
PRIVATE_KEY=your_hardhat_test_private_key_here
JWT_SECRET=change_this_to_a_strong_secret
CORS_ORIGIN=http://localhost:3000
ETH_TO_USD_RATE=2000
DB_FILE=./backend/data/db.json
